---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Creador'
    value: page.creator
  - label: 'Fecha'
    value: page._date
  - label: 'Tipología'
    value: page.object_type
  - label: 'Descripción'
    value: page.description
  - label: 'Repositorio'
    value: page.repository
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
