---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Título/Label'
    value: page.label
  - label: 'Creador/Creator'
    value: page.creator
  - label: 'Fecha/Date'
    value: page._date
  - label: 'Tipología/Type'
    value: page.object_type
  - label: 'Descripción/Description'
    value: page.description
  - label: 'Repositorio/repository'
    value: page.repository
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
